<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- AngularJS framework -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body ng-app='app' ng-controller='ctrl'>
<!-- Begin app -->


<header class="container">
  <div class="jumbotron">
    <h1> Make Several Grep Commands Easily</h1>
  </div>
</header>
<!-- Make bootstrap container -->
  <div class="container">
    <div class="row">
      <form ng-submit="run()">
        <div class="col-xs-4">

          The Name of your file in the /tmp Directory (make sure its formatted): <br />
          <input type="text" placeholder="filename.xml" ng-model="fileName"/>
        </div>
        <div class="col-xs-4">
          First Tag you are looking for:
          <input type="text" placeholder="<company>" ng-model="firstTag"/><br />
          name inside that tag <b>separate mulitple names or numbers with a comma</b>:
          <textarea placeholder="Lyft,uber or 12345,54321" ng-model="firstInput"></textarea>
        </div>
        <div class="col-xs-4">
          second Tag you are looking for:
          <input type="text" placeholder="<cpc>" ng-model="secondTag"/><br />
          less {{fileName}}, is {{firstTag}} before or after the {{secondTag}}<br />
          Before:<input type="checkbox" ng-model="before.value" /> After:<input type="checkbox" ng-model="after.value" />
          <br />
          How many lines <span ng-show="before.value">Before</span><span ng-show="after.value">After</span>:<input type="number" ng-model="num_lines.value" min="1" max="30" /><br />
          sort | uniq -c: <input type="checkbox" ng-model="checkboxModel.value" /><br />
          <input type="submit" />
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li ng-repeat="x in commandArr">
            {{x}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li ng-repeat="x in echoArr">
            {{x}}
          </li>
        </ul>
      </div>
    </div>

</div>
</body>
